/* Make sure this file contains the styles for the wrapper! */

.particle-container { 
    /* The class name used inside the component */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 1; 
    
}

/* Add the critical fix for internal elements */
.particle-container > * {
    width: 100%;
    height: 100%; 
    display: block;
}